/*  your css code here. If applicable */

body{
	height:100vh;
	width:100vw;
	margin:0px;
	padding:0px;
}


#wrapper{
	display:flex;
	flex-direction:column;
	gap:24px;
	width:100%;
	margin-top:20px;
}

.product{
color:white;
}

#dsa{
	background-color:#890123;
	width:50%;
}
#mern{
	width:30%;
	background-color:#F37F1B;
	height:75px;
}

.first-row{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
}
#acciojob{
	width:75%;
	background-color:#626EE3;
	margin:auto;
}
.third-row{
	display:flex;
	align-items:center;
	width:100%;
	gap:10px;
}
#buisness-analytics{
	background-color:#12967E;
	width:40%;
}
#spring{
	height:75px;
	background-color:#F21A3F;
	flex-grow:1;
}
