/*  your css code here. If applicable */

body{
	height:100vh;
	width:100vw;
	margin:0px;
	padding:0px;
}


#wrapper{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	row-gap:24px;
	width:100%;
	margin-top:20px;
}

.product{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	color: rgb(255, 255, 255);
}

#dsa{
	background-color:rgb(137, 0, 35);
	flex-basis:50%;
	align-self:center;
}
#mern{
	flex-basis:30%;
	background-color:#F37F1B;
	height:75px;
}

#acciojob{
	flex-basis:75%;
	order:1;
	background-color:#626EE3;
}

#buisness-analytics{
	background-color:rgb(17, 150, 126);
	flex-basis:40%;
	order:2;
	margin-right: 10px;
	align-self: flex-end;
}
#spring{
	background-color:#F21A3F;
	order:3;
	flex-grow:1;
}
